
body,p,span{
    font-family: 'Roboto', sans-serif;
    
}
h1,h2.h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
.navbar{
    background: #F0F0F0;
}
img{
    width: 150px;
}
     /* beagin custom style */
     .main-header .container-fluid .slider-section .container-fluid{
         max-width: 1480px;
         background: #F0F0F0;
     }

     body .btn-primary{
         background-color: #FF3A45 !important;
         border-color: #FF3A45;
         position: relative;
         z-index: 1;
     }
     body .btn-primary::after{
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 0;
         height: 100%;
         background-color: #111;
         border-color: #111;
         z-index: -1;
         transition: .4s all;
     }
     body .btn-primary:hover::after{ 
         width: 100%;

     }

     /* menu */
     ul.our-primary-menu{}
     ul.our-primary-menu li{}
     ul.our-primary-menu li a{
         text-decoration: none;
         display: inline-block;
         padding: 10px 10px;
         color: #111;
         font-weight: 500;
}
     ul.our-primary-menu li a:hover{

     }
     /* Dropdown menu css */
     ul.our-primary-menu li{
         position: relative;
     }
     ul.our-primary-menu li ul{
         position: absolute;
         width: 300px;
         left: 0;
         top: 140%;
         background: #F0F0F0;
         list-style: none;
         padding-left: 10px;
         box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,0.1);
         opacity: 0;
         visibility: hidden;
         transition: 0.4s;
     }
     
     ul.our-primary-menu li ul li{
         flex-direction: column;
     }
     ul.our-primary-menu li:hover ul{
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
     ul.our-primary-menu li ul li a{}

     .header-info{}
     .header-search{
         width: 60px;
         font-size: 22px;
         text-align: center;
         margin-right: 20px;
         border-right: 1px solid #ddd;
     }
     .header-call{
         width: 220px;
     }    
     .header-call-icon{
         font-size: 20px;
         color: #EA8056;
         float: left;
         padding: 15px 10px;
     }  
     .header-call-info-span{
         color: #606060;
     } 
     .header-call-info a{
         font-weight: 500;
         color: #111;
         text-decoration: none;
         font-size: 18px;

     }
     .header-button{}


     /* slider/ banner css */
     .slider-section{
         background: url(images/bannerojpeg.jpeg) no-repeat top center;
         background-size: cover;
     }
    .slider-content-wrap{
        height: 90vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .slider-content{
    padding-right: 20px;
        
    }

    .header-social{
        position: absolute;
        bottom: 0;
        left: 0;
    }